<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<context:component-scan base-package="com.myamoto.exceltoobject4j" />
	
	<bean class="com.myamoto.exceltoobject4j.dao.TableObjectMappingReader" id="tableObjectMappingReader" name="tableObjectMappingReader" /> 
	
	<bean class="com.myamoto.exceltoobject4j.dao.reader.TableFileReader" id="tableFileReader" name="tableFileReader" /> 
	<bean class="com.myamoto.exceltoobject4j.dao.reader.FileReaderFactory" id="fileReaderFactory" name="fileReaderFactory" />
	
	<bean class="com.myamoto.exceltoobject4j.dao.writer.TableFileWriter" id="tableFileWriter" name="tableFileWriter" /> 
	
	<bean class="com.myamoto.exceltoobject4j.service.TableObjectMapper" id="tableObjectMapper" name="tableObjectMapper" /> 

	 
</beans>